.products-lending-img {
    background: url(../assets/Images/wall-mounted-glassware-display-storage-2.webp) fixed;
    background-position: center;
    background-size: cover;
}

.products-lending-img h1{
    text-shadow: 2px 4px 8px #000;
}
.products-lending-text .left-text {
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 3vw;
    /* border-right: 2px solid black; */
    text-align: center;
}
.products-lending-text .left-text p{

    text-align: center;
}

@media (max-width: 640px) {
    
    .products-lending-text {
        height: fit-content;
        padding: 2vw 2vw;
        flex-direction: column;
    }
    .products-lending-text .left-text {
        max-width: 400px;
        padding-right: 0vw;
        padding: 4vw 0;
        border-right: none;
        border-bottom: 2px solid black;
    }
    
}