
.products-lending-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50vh;

    background: url(../assets/Images/dining.webp) fixed;
    background-position: center;
    background-size: cover;
}

.product-detail-img {
    padding-left: 2vw;
    max-height: 60vh;
}
